@import '../../styles/settings.scss';

.input_wrapper {
  @include flex-center;

  .input_container {
    @include flex-center;
    width: 80%;

    .input {
      font-family: $font-family;
      width: 100%;
      overflow: hidden;
      padding: $base-size;
      font-size: ($base-size * 1.2);
    }

    .input_submit_btn {
      font-family: 'Quicksand', sans-serif;
      height: min-content;
      margin: $base-size;
      margin-right: 0;
      font-size: ($base-size * 1.2);
      transition: 0.3s all;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }
}
