@import '../../styles/settings.scss';

.single_task_container {
  background-color: rgba($color: $color-active, $alpha: 0.4);
  margin: $base-size 0;
  border-radius: $base-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .single_task_text {
    margin: $base-size;
    word-wrap: break-word;
    width: 70%;
  }

  .icon_container {
    margin: $base-size;
    display: flex;

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }

    .icon {
      margin: $base-size;

      &:hover {
        cursor: pointer;
      }
    }

    .icon_disabled {
      &:hover {
        cursor: not-allowed;
      }
    }

    .trash {
      margin-left: ($base-size * 2);

      &:hover {
        color: $color-important;
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
}

.background_done {
  background-color: rgba($color: $color-done, $alpha: 0.4);
}
